@tailwind base;
@tailwind components;
@tailwind utilities;

@import './topo.css';
@import './inputs.css';

.btnPadrao{
    display: flex;
    background-color: #ddd;
    padding: 10px;
    border-radius: 10px;
}