.campoForm{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; 
    padding: 10px;   
}

.campoForm label{
    font-size: large;
}

.campoForm input{
    border: 1px solid #888;
    padding: 3px;
    border-radius: 3px;
}